@charset "ISO-8859-1";

.colorNavbar {
	background-color: rgb(163,30,50);
	color: white !important;
}

.navbar-brand {
	background-color: rgb(163,30,50);
	color: white !important;
}

.active {
	background-color: red !important;
	color: black !important;
}

.thead{
	background-color: #F5909F;
}